
#footer{
	background-color: #9E8263;
	color: #4d3a32;
	padding:5px;
}
#footer_list li{
	list-style-type:none;
  color: #4d3a32;
}
#footer p{


}
a {
  color: black;
}

#contact {
	margin: 10px;
	float:right;
	margin-right:5%;
}
#clear_cp { /*Clears the floating element above */
clear: both;
}
/* Sets the size of the copyright div to be 100% wide and aligns the text in the center of the div. Changes the
background color to be slightly darker than the footer*/ 
#copyright {
width: 100%;
height: 17px;
text-align: center;
}
/* Changes the font size of the copyright div */
#copyright p {
	font-size: 14px;
}
