input, select, button
{
    background: #e2cfb6; 
    border: #cdab7e;
    border-radius: 5px;
    size: 30px;
    margin: 10px;
    font-size: large;
    padding: 5px;
    font-family: georgia;
}

#reservasjon input {
	box-shadow: 3px 3px 1px #888888;
	-webkit-box-shadow: inset 3px 3px 1px #888888;
    width: 400px;
}

#reservasjon select {
	-webkit-box-shadow: inset -3px -3px 1px #888888;
}

#reservasjon #res_send {
	background-color:#936a39;
	box-shadow: 3px 3px 1px #888888;
    width: 250px;
    font-weight: bold;
}

#reservasjon select {
	width: 150px;
}


