input, select, button
{
    background: #e2cfb6; 
    border: #cdab7e;
    border-radius: 5px;
    size: 30px;
    margin: 10px;
    font-size: large;
    padding: 5px;
}
button {
	background: #e2cfb6; 
}
