#footer{
	height:100px;  
  background-color: black;
  color: white;
}
#footer_list li{
	list-style-type:none;
  color:white;   
}
#footer p{
	float:right;
	margin-right:5%;
	
}
a {
  color:white;
}
