#mainImgWrap{
	position:relative;
	height:450px;
	width:100%;
	border:3px solid grey;
	}
#left, #right{
	position:absolute;
	top:45%;
	z-index:1;
	padding:5px;
	background-color:white;
	font-size:0.5em;
	}
			
#right{
	right:5px;
	}
	
#left{
	left:5px;
	}
			
#left:hover, #right:hover{
	cursor:pointer;
	}
			
#mainImg{
	height:100%;
	width:100%;
	max-width:100%
	z-index:2;
	}

.galleryImg{
	height:100px;
	width:100px;
	border:3px solid grey;
	}

.galleryImg:hover{
	border-color:red;
	cursor:pointer;
	}

#galImg{
	width:100%;
}

@media (max-width:940px){
	#galImg{
		 display:none;
	}
}
  