
body, html {
  height:  100%;
  margin:  0 auto;
  background-color: #D2B48C;
  font-family: Georgia;
  font-size: 1.2em;
  color: #262626;
}

section {
  height: auto;
  margin: 40px auto;

}
#omoss, #meny, #bordreservasjon, #galleri, #bordreservasjon {
  max-width: 600px;
}

.wrapper {
  position: relative;
  width: 100%;
}


h1 {
  font-family: "Luciida Calligraphy", Georgia, serif;
  font-size: 2.5em;

}

h2 {
  font-family: "Luciida Calligraphy", Georgia, serif;
  font-size: 1.6em;

}
