/* Sets a size and magin to the body. Sets a font-family that replies to all and a background color */

body, html {
  height:  100%;
  margin:  0 auto;
  background-color: #D2B48C;
  font-family: Georgia;

}

section {
  height: auto;
  margin: 50px auto;
  font-size: 1.1em;
  color: #262626;
  max-width: 600px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;

}


#wrapper {
  position: relative;
  width: 100%;

}


h1 {
  font-family: "Luciida Calligraphy", Georgia, serif;
  font-size: 2.5em;

}

h2 {
  font-family: "Luciida Calligraphy", Georgia, serif;
  font-size: 1.6em;

}
h1:after
{
    content:' ';
    display:block;
    border:1px solid #262626;
}
#s_map {
	width: 100%;
  background-color: #937c63;
}

#s_galleri {
  background-color: #cd9575;
}
#s_meny {
  background-color: #c2b280;
}
#s_omoss {
  background-color: #dbc6a2;
}

