.foodinfo {
    transition: max-height 1s;
    max-height: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,0.0);
    font-size: 0.8em;

}
.foodinfo.active {
    max-height: 1000px;
    pointer-events: none;
}
